
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,400;0,900;1,200;1,300;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
*/


body{
    
    width: 1440px;
    position: relative;
}

*{
    padding: 0;
    margin: 0;
    

}

.header{
    position: relative;
    background-color:rgba(244, 249, 254, 1);
    padding: 14px 160px 14px 160px;
    width: 1600px;
    
}


   nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  

   }

   nav .logo{
    position: relative;
    left: 30px;
   }


  nav ul{
    position: relative;
    display: flex;
    gap: 1rem;
   flex: 1;
   text-align:center;
   left: 200px;

   

}



nav ul li{
    position: relative;
    list-style: none;

}

  nav ul li a{

    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color:rgba(0, 13, 29, 1);
    padding:30px 15px ;
    
    }


nav ul li a:hover{
      
    transition: 0.4s;
    color: rgb(0,56, 160, 1);
        
}

.search-bar{
    position: relative;
    float: right;
    border: 1px solid rgba(32, 142, 240, 1);
        
    }

    button{
        position: relative;
        border: none;
        width:140px;
        height: 36px;
        border:1px solid rgba(32, 142, 240, 1) ;
    }


    button span{
        position: relative;
        text-transform: uppercase;
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(32, 142, 240, 1);
        background-color: transparent;
        margin-right: 10px;
        width: 84px;
        height: 17px;
        
    }

    button i{
        color:rgba(32, 142, 240, 1);
      
    }



.section-2{
    position: relative;
    height: 730px;
    width: 1600px;
}

.main-container{
    position: relative;
    left:140px ;
    display: flex;
    gap: 40px;
}

.main-container .left{
    position: relative;
    width: 657px;
    height: 450px;
    top: 70px;
}

.left h4{
    position: relative;
    color:rgba(0, 85, 162, 1) ;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    width: 320px;
    height: 29px;
    left: 40px;  
 
    
}

.left h4:before{
    content:" ";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color:rgba(0, 85, 162, 1);
    left: 0;
    top:50%;

    margin-right: 10px;
    
    
}

.left h1{
    position: relative;
    color:rgba(0, 13, 29, 1) ;
    font-family: 'Manrope';
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    width: 610px;
    height: 134px;
    text-transform: capitalize;
    top: 30px;
    left: 40px;
    
}

.left h1 span{
    color: rgba(32, 142, 240, 1);
}

.search-bar2{
    position: relative;
    float: left;
    
    top:60px ;
    left: 40px;
        
}


input[type=text]{
    position: relative;
    background:rgba(244, 249, 254, 1);
    width: 300px;
    height: 48px;
    border:none;
    outline: none;
    padding: 0 25px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    border: 1px solid rgba(244, 249, 254, 1);

 }


 .search-bar2 button{
    position: relative;
    float: right;
    width: 214px;
    height: 48px;
    border:none;
    outline: none;
    background:rgba(0, 85, 162, 1);
    text-transform: uppercase;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    margin-right: 10px;

   
    
}


.search-bar2 button i{
    left: 20px;
    position: relative;
    color:#ffffff ;
}


.left .container-2{
    
     width: 770px;
     float: left;
     
     position: relative;
     top: 70px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(1,1fr);
     gap: 20px;

}

.container-2 .text{
    position: relative;
    display: flex;
    width: 180px;
   
    
 
}

.text .two{
    margin-right: 30px;
}


.container-2 h1{
     position: relative;
     color: rgba(0, 13, 29, 1);
     font-family: 'Manrope';
     font-size: 40px;
     font-weight: 700;
     line-height: 52px;
     letter-spacing: 0px;
     text-align: left;
    
     width: 40px;
     height: 50px;
     margin-right: 15px;
   

     
}



.container-2 p {
    position: relative;
    color: rgba(130, 143, 159, 1);
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    top: 34px;
    width: 110px;
    left: 50px;
   
   
    
}


.main-container .right{
    width: 704px;
    height: 520px;
    top: 50px;
    position: relative;

}


.right .first-row{
    position: relative;
    top: 110px;
}


.right .five-row{
    position: relative;
    top: 110px;
}

.right .box{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;

}


.box img{
    position: relative;
    padding-bottom:10px ;
}


.frame{
    position: relative;
    height: 100px;
    width: 1100px;
    top: 140px;
    display: flex;
    gap: 40px;
    text-align: center;
    background-color: #ffffff;
    left: 170px;
    border: 1px  solid lightblue ;
    border-bottom:none;
    border-radius: 15px 15px 0px 0px;



}

.frame img{
    position: relative;
    margin-top: 16px;
    left: 50px;
    width: 130px;
    height: 30px;
}





/*========================section 3 ================================================================*/
 .section-3{
    position: relative;
    height:940px;
    width: 1600px;
    background-color:rgba(244, 249, 254, 1);
}


.section-3 .what-we-do{
    position: relative;
    display: flex;
}

.what-we-do .left h1{
    position: relative;
    left: 160px;
    top: 80px;
    font-family: 'Manrope';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: left;
    
}


.what-we-do .left p{
    position: relative;
    top: 10px;
    left: 160px;
    font-family:'Manrope';
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    width: 580px;
    color: rgba(96, 96, 96, 1);
    
}

.right{
    position: relative;
    top: 160px;
    left: 280px;
}

.right .free-quote{
    position: relative;
    background-color: rgba(0, 85, 162, 1);

    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 10px;
    width: 176px;
    height: 48px;
    padding: 14px 32px 14px 32px;
    

}

.right .contact-us{
    position: relative;
   
    background-color:rgba(244, 249, 254, 1);
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color:rgba(0, 85, 162, 1);
    text-transform: uppercase;
    margin-right: 10px;
    width: 176px;
    height: 48px;
    padding: 14px 32px 14px 32px;
    

}


.right i{
    margin-left: 5px;
}




.services{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    left:150px ;
    top: 50px;
    width: 1150px;
   
    
}

.services .box{
    position: relative;
    border: 1px solid rgba(195, 216, 236, 1);
    width: 370px;
    height: 250px;
}

 .services img{
    position: relative;
    left: 130px;
    top: 30px;

}

.services h1{
    position: relative;

    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    width: 330px;
    height: 24px;
    top: 30px;
    

}

.services p{
    position: relative;
    color: rgba(96, 96, 96, 1);
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    top: 40px;
    width: 330px;
    height: 78px;
    left: 10px;
    

}

.services .box ul {
    position: relative;
    background-image:linear-gradient(rgba(0, 51, 153,0.85)50%, rgba(0, 51, 153, 0.85)50%),url(/images/Image.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  
}

.box ul li{
    position: relative;
    left: 30px;
    top: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 329px;
    height: 22px;
}


.box ul button{
        position: relative;
        top: 40px;
        left: 20px;
        width: 155px;
        height: 32px; 
        font-family:'Manrope';
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1px;
        text-align:center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(32, 142, 240, 1);
        
    
    }

    .box ul button i{
        position: relative;
        color: #ffffff;
        margin-left: 10px;
    }


    /*===================  SECTION 4 =============================================*/

.section-4{
    position: relative;
    height:900px ;
    width: 1600px;
}

.section-4 .our-approach{
    position: relative;
    display: flex;
}

.our-approach  p{
    position: relative;
    color:rgba(0, 85, 162, 1) ;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    top: 70px;
    left: 150px;
    width: 220px;
    height: 29px;  
    
    
}

.our-approach p:before{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color:rgba(0, 85, 162, 1);
    left: 0;
    top:50%;
    z-index: -1;
    margin-right: 10px;
    
    
}



.our-approach h1{

    position: relative;
    color: rgba(0, 13, 29, 1);
    font-family: 'Manrope';
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: left;
    width: 558px;
    height: 141px;
    top:80px;
    left: 150px;
    
    
}


.our-approach img{
    position: relative;
    left: 140px;
    width: 700px;
    height: 235px;
    top: 30px;
}

.section-4 .service-menu{
    width: 1170px;
    height: 43px;
    position: relative;
    top: 50px;
    left: 150px;
}

.service-menu li{
    position: relative;
    list-style: none;
    border: 1px solid rgba(195, 216, 236, 1);
    
    gap: 8px;
    
 
   
    
}


.service-menu li a{
    text-decoration: none;
    position: relative;
    color:rgba(0, 85, 162, 1) ;
    transition: 0.4s;
    padding: 12px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
  
}


 .active, .service-menu li:hover{

  background: rgba(0, 85, 162, 1) ;
  transition: 0.4s;

}



.active , .service-menu li a:hover{
    color: #ffffff ;
}

.card-container{
    position: relative;
    top: 140px;
    left: 140px;
    width: 804px;
    height: 443px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.card-container h1{
    position: relative;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    border: 1px solid rgba(0, 85, 162, 1) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 110px;
    

}

.card-container img{
    position: relative;
    align-items: center;
    left: 110px;
}

.card-container p{
    
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 13, 29, 1);
    
}


.card-container .card-1{
    position: relative;
    border: 1px solid rgba(0, 85, 162, 1);
    border-radius: 16px;
    background-color:rgba(250, 252, 255, 1);
    width: 252px;
    height: 152px;
    margin-bottom: 40px;
}



.card-container .card-2{
    position: relative;
    border: 1px solid rgba(234, 168, 18, 1);
    border-radius: 16px;
    background-color:rgba(255, 250, 238, 1);
    width: 252px;
    height: 152px;
}
.card-container .card-3{
    position: relative;
    border: 1px solid rgba(228, 103, 118, 1);
    border-radius: 16px;
    background-color:rgba(255, 248, 248, 1);
    width: 252px;
    height: 152px;
}
.card-container .card-6{
    position: relative;
    border: 1px solid rgba(22, 175, 106, 1);
    border-radius: 16px;
    background-color:rgba(244, 255, 250, 1);
    width: 252px;
    height: 152px;
}
.card-container .card-5{
    position: relative;
    border: 1px solid rgba(24, 121, 218, 1);
    border-radius: 16px;
    background-color:rgba(245, 250, 255, 1);
    width: 252px;
    height: 152px;
}
.card-container .card-4{
    position: relative;
    border: 1px solid rgba(0, 85, 162, 1);
    border-radius: 16px;
    background-color:rgba(255, 245, 255, 1);
    width: 252px;
    height: 152px;
}


/*=============section 5 ====================================*/


.section-5{
    position: relative;
    height:928px;
    width: 1600px;
    background: rgba(0, 85, 162, 1);
}

.section-5 .rocket{
    position: relative;
    display: flex;
}



.rocket  p{
    position: relative;
    color:#ffffff;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    top: 60px;
    left: 140px;
    width: 320px;
    height: 29px;  
    
    
}

 .rocket p:before{
    content:" ";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color:#ffffff;
    left: 0;
    top:50%;

    margin-right: 10px;
    
    
    
}


.rocket h1{
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-family: 'Manrope';
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: left;
    width: 660px;
    height: 141px;
    top:80px;
    left: 140px;
}


.button{
    position: relative;
    top: 130px;
    left: 270px;
}



.button .free-quote{
    position: relative;
   
    background-color:rgba(244, 249, 254, 1);
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color:rgba(0, 85, 162, 1);
    text-transform: uppercase;
    margin-right: 10px;
    width: 176px;
    height: 48px;
    padding: 14px 32px 14px 32px;
    

}

.button .contact-us{
    position: relative;
    background-color: rgba(0, 85, 162, 1);

    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    
    width: 183px;
    height: 48px;
    
    padding: 14px 32px 14px 32px;
    

}


.button i {
    margin-left:6px;
}


.brand-recognition{
    position: relative;
    display: flex;
    top: 150px;
    left:190px ;
    width:1170px ;
    height: 192px;
    justify-content: space-between;
}

.brand-recognition img{
    position: relative;
    text-align: center;
    width: 22px;
    min-height: 22px;
    

}

.brand-recognition .image{
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 120px;
}

.brand-recognition h1{
    position: relative;
    color: #ffffff;
    font-family: 'Manrope';
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    top: 30px;
    
}

.brand-recognition p{
    position: relative;
    color: #ffffff;
    top: 40px;
    font-family:'Manrope';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 310px;
    height: 78px;
    
}

.section-5 .image-rocket{
    position: relative;
    text-align: center;
    top: 190px;

}









        
  






  






